<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
</head>
<body>
  
    <br><br>
    <h2 align="center" style="color : rgb(48, 48, 231)">Twitter Clone</h2>
    <br>
  <div class = 'container'>
     <h4>Logged Out!</h4>
      <a href="{% url 'login' %}"><p>Click here to Login</p></a>
  </div>
    
</body>
</html>